@font-face
{
	font-family: 'OpenSans';
	src: url('./fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face
{
	font-family: 'Poppins';
	src: url('./fonts/Poppins/Poppins-Regular.ttf');
}

@media only screen and (max-width: 768px)
{
	*
	{
		color: red;
	}
}

*
{
	color: var(--text-major);
}

:root
{
	--primary: rgba(255, 255, 255, 0.03);
	--secondary: rgba(255, 255, 255, 0.05);
	--tertiary: rgba(255, 255, 255, 0.12);
	--tier1: rgba(50, 177, 10, 0.75);
	--tier2: rgba(255, 204, 0, 0.75);
	--tier3: rgba(255, 130, 0, 0.75);
	--accent: #A600BC;
	--text-minor: rgba(255, 255, 255, 0.38);
	--text-major: rgba(255, 255, 255, 0.8);
	--bg-color: rgba(18,18,18,1);
	--modal-color:  #252525;
	
	--shadow-button: 7px 4px 17px -7px rgba(0,0,0,0.64);
	--button-shadow-hover: 11px 5px 21px -7px rgba(0,0,0,0.4);
	--nav-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 1);
	--nav-buttons-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 1);
	--slider-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Mode toggle */

[data-theme = "light"]
{
	--primary: rgba(0, 0, 0, 0.03);
	--secondary: rgba(0, 0, 0, 0.05);
	--tertiary: rgba(0, 0, 0, 0.12);
	--accent: #D600DD;
	--text-minor: rgba(0, 0, 0, 0.38);
	--text-major: rgba(0, 0, 0, 0.7);
	--bg-color: rgba(255, 255, 255, 1);
	--modal-color:  #F2F2F2;
	
	--shadow-button: 5px 4px 23px -7px rgba(0,0,0,0.4);
	--button-shadow-hover: 9px 5px 27px -7px rgba(0,0,0,0.16);
	--nav-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.2);
	--nav-buttons-shadow: 4px 6px 25px 0px rgba(0, 0, 0, 0.2);
}

.theme-switch-wrapper, .cum-switch-wrapper
{
  display: flex;
  align-items: center;
  position: relative;
  left: 80%;
}

.cum-switch-wrapper
{
	left: 0;
}

.cum
{
	padding-top: 30px;
	margin-bottom: 0;
}

em {
    margin-right: 10px;
    font-size: 1rem;
	text-decoration: none;
  }

.theme-switch, .cum-switch
{
  display: inline-block;
  height: 34px;
  position: relative;
  width: 65px;
}

.theme-switch input, .cum-switch input
{
  display:none;
}

.slider
{
  background-color: var(--tertiary);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: ease-in 0.3s;
  box-shadow: var(--slider-shadow);
}

.slider:before
{
  background-color: #fff;
  content: "";
  height: 38px;
  width: 38px;
  top:-2px;
  position: absolute;
  transition: ease-in 0.3s;
  box-shadow: var(--slider-shadow);
}

input:checked + .slider
{
  background: var(--accent);
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slider.round, .slider.cum
{
  border-radius: 38px;
}

.slider.cum
{
	overflow: hidden;
	margin-top: 10px;
	padding-bottom: 3px;
}

.slider.round:before, .slider.cum:before
{
  border-radius: 50%;
  box-shadow: var(--shadow-button);
}

.slider.cum:before
{
	height: 25px;
	width: 25px;
	top: 4px;
	left: 5px;
}

input:checked ~ .slider.cum
{
  background-color: rgba(230, 230, 230, 1);
}

input:checked ~ .slider.cum:before {
  transform: translateX(30px);
  background-color: rgba(120, 120, 120, 1);
  box-shadow: var(--slider-shadow);
}

input:checked + .slider:before
{
	color: var(--tertiary);
}

html
{
	font-family: Roboto, OpenSans, Arial, Serif;
	font-size: 20px;
}

header
{
	
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	max-width: 100%;
	height: 20%;
	padding: 10px;
	
	border-radius: 3px;
}

nav
{
	font-size: 35px;

	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	
	margin-right: 5px;
	padding: 5px;
	padding-left: 25px;
	border-radius: 3px;
	
	box-shadow: var(--nav-shadow);
	
	min-height: 35%;
	
	border-collapse: collapse;
	
	background-color: var(--primary);
}

td a
{
	padding: 20px;
	border-radius: 3px;
	
	transition: 0.25s;
}

header a, header a:visited
{
	text-decoration: none;
}

header a:hover
{
	border-bottom: 7px solid var(--accent);
	background-color: var(--secondary);
	box-shadow: var(--nav-buttons-shadow);
	position: relative;
	top: 2px;
	padding-bottom: 14px;
	padding-top: 17px;
	
	transform: scale(1.05);
}

nav:nth-child(1)
{
	flex: 1;
}

header img
{
	max-width: 20vh;
	
	box-shadow: var(--nav-buttons-shadow);
	
	margin: 5px;
	border-radius: 50%;
	
	transition: 0.2s;
}

body
{
	justify-content: center;
	
	background-color: var(--bg-color);
	
	display: flex;
	flex-direction: column
}

table
{
	border-collapse: collapse;
}

td
{
	transition: 0.2s;
}

tr:first-child
{
	align-items: center;
	font-size: 45px;
}

td:active
{
	transform: scale(0.98);
}

tr
{
	/* border: 1px solid black; */
	display: inline;
}

footer
{
	flex-direction: column;
	display: flex;
	/*font-size: 15px;*/
	text-align: right;
	align-items: center;
	/*padding: 10px;*/
	margin: 5px;
	margin-top: 25px;
	
	/*background-color: var(--secondary);*/
	/*box-shadow: var(--nav-shadow);*/

	border-radius: 5px;
}

footer p
{
	color: var(--text-minor);
}

.blur
{
	display: none;
	
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.close
{
	text-align: right;
	font-size: 40px;
	max-width: 100%;
	max-height: 25%;
	
	/*text-decoration: bold;*/
	
	border-radius: 5px;
}

.X
{
	color: var(--text-major);
	transition: 0.2s;
}

.X:hover
{
	color:red;
	cursor: pointer;
}

.links
{
	display: grid;
	height: 10vh;
	width: 30vw;
	grid-template-columns: repeat(3, 1fr);
	grid-template-row: 1fr 1fr;
	grid-column-gap: 3%;
	
	font-size: 50px;
	
	margin-top: 3%; 
	align-self: center;
	padding: 10px;
}

.links >*, .sheet a
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin: 4px;
	
	border-radius: 3px;
	
	text-align: center;
}

.links a:first-child
{
	box-shadow: none;

	transform: none;
}

.links a
{
	text-decoration: none;
}

.fab, .fas
{
	padding: 7px;
	margin-right: 5px;
	font-size: 25px;
	width: 25px;
	text-align: center;
	text-decoration: none;
	margin-left: 25px;
	
	/* border: 0.12em solid rgba(255, 255, 255, 0); */
	box-shadow: var(--shadow-button);
	border-radius: 50%;
	
	transition: 0.2s;
}

span a .fas:not(.fa-question):hover, span a .fab:hover
{
	transform: scale(1.1);
	/* border-color: rgba(255, 255, 255, 0.8); */
	box-shadow: 11px 5px 21px -7px rgba(0,0,0,0.4);
}

.links .fas, .links .fab
{
	padding: 0;
	margin-right: 25px;
	font-size: 45px;
	width: 0;
	margin-left: 0;
	
	border: 0;
	border-radius: 0;
	box-shadow: 0;
	
	transition: 0s;
}

.fa-female
{
	background: var(--accent);
}

.fa-twitter
{
	background-color: rgba(85, 172, 238, 0.8);
}

.fa-deviantart
{
	background-color: rgba(5, 204, 71, 0.9);
}

.fa-question
{
	background-color: var(--secondary);
}

.fiverr-logo
{
	width: 60px;
}

.legal
{
	width: 60%;
	font-size: 0.7rem;
	text-align: center;
}