.model-wrapper
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(10, minmax(1fr, 1vh));
	grid-auto-flow: dense;
	margin: 2%;
	margin-top: 4%;
}

.model-wrapper *
{
	border-radius: 4px;
}

.model-wrapper >*
{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: max-content;
	text-align: center;
	
	width: 98%;
	
	/* border: 2px solid green; */
}

.model-wrapper >* h3
{
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	align-items: center;
	
	grid-row-start: 1;
	grid-row-end: 50;
	
	background: var(--secondary);
	margin: 5px;
	padding: 10px;
	
	
	/* border: 2px solid white; */
}

.model-wrapper >* h3 img
{
	width: 100%;
	margin-top: 20px;
}

.model-wrapper >* div
{
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	
	background: var(--secondary);
	box-shadow: var(--shadow-button);
	padding: 0.5%;
	margin: 4px;
	
	
	/* border: 2px solid red; */
}

.model-wrapper >* div h4
{
	grid-row: span 10;
	margin: 3px;
	
	align-self: center;
}

.model-wrapper >* div span
{
	margin: 1%;
	padding: 5px;
}

.model-wrapper >* div span:nth-child(2n)
{
	background: var(--secondary);
	box-shadow: var(--shadow-button);
	align-self: center;
	padding: 5%;
}

.overwatch
{
	grid-row: span 4;
}

.repo a
{
	text-decoration: none;
}

.repo div svg, rect
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}

.repo-wrapper
{
	position: relative;
	padding: 15px;
	margin: 30px;
}

rect
{
	stroke: var(--accent);
	stroke-width: 4;
	stroke-dasharray: 200;
	animation: slide 8s linear infinite;
}

@keyframes slide
{
	0%
	{
		stroke-dashoffset: 400;
	}
	
	100%
	{
		stroke-dashoffset: 0;
	}
}

.vga
{
	grid-column: span 2;
	background-color: var(--accent);
	transition: 0.2s;
}

.vga:hover
{
	transform: scale(1.02);
	box-shadow: var(--button-shadow-hover);
	cursor: pointer;
}