.twitter, .discord, .fiverr, .poizen
{
	/*transition: 0.2s;*/
	color: rgba(255, 255, 255, 0.8);
}

.disclaimer, .sheet
{
	display: block;
	width: 52%;
	align-self: center;
	font-size: 24px;
	padding: 30px;
	margin: auto;
	margin-top: 2%;
	
	
	background: var(--secondary);
	border-radius: 3px;
	box-shadow: var(--nav-shadow);
}

.disclaimer .warning
{
	color: rgba(255, 0, 0, 0.85);
	font-size: 30px;
}

.disclaimer
{
	/* margin-top: 50px; */
}

.sheet
{
	display: flex;
	width: 80%;

	flex-direction: column;
	align-items: center;
}

.sheet p
{
	margin: auto;
	text-align: center;
}

.sheet a
{

	height: 8vh;
	width: 30vw;

	margin-top: 25px;
	text-decoration: none;
}

.sheet img
{
	position: relative;
	left: -150px;
	top: -20px;

	height: 70px;
	width: 100px;

	opacity: 0.8;
}


/* --- UI Cards --- */

#card-wrapper
{
	display: grid;
	margin-bottom: 20px;

	grid-template-columns: repeat(4, 1fr); 
}

.card
{
	position: relative;
	display: block;
	width: 18vw;
	height: 45vh;
	background: var(--secondary);

	border-radius: 5px;
	padding: 5px;
	padding-bottom: 10px;
	padding-top: 0;
	overflow: hidden;

	box-shadow: var(--shadow-button);

	margin: 10px;

	transition: 0.4s;
}

.card:hover, .card:active
{
	height: 80vh;
	/*transform: scale(1.05);*/
	cursor: pointer;
	z-index: 4; 

	box-shadow: var(--button-shadow-hover);
}

.card:nth-child(2):hover, .card:nth-child(2):active
{
	height: 87vh;
}

.card:nth-child(3):hover, .card:nth-child(3):active
{
	height: 95vh;
}

.card:nth-child(4):hover, .card:nth-child(4):active
{
	height: 100vh;
}

.card:hover .examples, .card:active .examples
{
	top: 10%;
}

.card:hover .price p, .card:active .price p
{
	bottom: -30%;
}

.card:hover .tier p, .card:active .tier p
{
	font-size: 2.5rem;
}

.card::before
{
	content: '';
	position: absolute;
	top: -30%;
	left: -0%;
	width: 100%;
	height: 100%;
	background: var(--tier1);
	clip-path: circle(70% at 65% 0);
	/* transform: skewY(12deg); */
	transition: 0.5s;

	z-index: -1;
}

.card:hover::before, .card:active::before
{
	top: -35%;
	clip-path: circle(120% at 85% -43%);
}

.tier p, .rules-tier p
{
	font-size: 3rem;
	font-family: Poppins;
	color: rgba(255, 255, 255, 1);

	transition: 0.4s;
}

.description
{
	position: relative;
	top: 10%;
	font-size: 1rem;
}

.examples
{
	position: relative;
	top: 45%;
	font-family: Poppins;
	font-size: 1rem;

	transition: 0.4s;
}

.examples p
{
	font-weight: 900;
	color:  var(--tier1);
}

.price p
{
	font-size: 3rem;
	position: relative;

	bottom: -200%;

	transition: 0.6s;
}

.examples .examples-list
{
	display: flex;
	justify-content: center;
	text-align: center;
}

.extra, .rules
{
	background: var(--secondary);
	border-radius: 5px;
	box-shadow: var(--shadow-button);

	margin: 2%;

	transition: 0.4s;
}

.extra
{
	grid-column: 1/3;
}

/*.extra:hover
{
	transform: scale(1.03);
	box-shadow: var(--button-shadow-hover);
}*/

.extra-wrapper
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	padding: 2% 5%

	/*border: 2px solid red;*/
}

.extra-wrapper >*
{
	text-align: left;
}

.extra-wrapper >*:nth-child(2n)
{
	text-align: center;
}

.rules
{
	grid-column: 3/5;
}

.rules-wrapper
{
	display: flex;
	flex-direction: column;
	padding: 2%;
}

.rules-wrapper >*
{
	text-align: center;
	/* border: 1px solid white; */
}

.rules-tier p
{
	color: rgba(255, 0, 0, 0.85);
}

.extra .tier p
{
	color: rgba(0, 187, 255, 0.85);
}

.card:nth-child(2)::before
{
	background: var(--tier2);
}

.card:nth-child(2) .examples p
{
	color: var(--tier2);
}

.card:nth-child(3)::before
{
	background: var(--tier3);
}

.card:nth-child(3) .examples p
{
	color: var(--tier3);
}

.card:nth-child(4)::before
{
	background: var(--accent);
}

.card:nth-child(4) .examples p
{
	color: var(--accent);
}



/* Modal*/

#commission-modal
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 50px, 1fr;

	background: var(--modal-color);
	width: 88%;
	height: 88%;

	margin: 2% 5%;
	padding: 1%;
	border-radius: 5px;

	z-index: 10000;
	overflow: auto;

	animation-name: closeup;
	animation-duration: 0.6s;
}

@keyframes closeup
{
	from {
		top: -100vh;
	}
	
	to {
		top: 7%;
	}
}

[class ^= "modal-image"]
{
	display: flex;
	justify-content: center;
}

[class ^= "modal-image"] img
{
	background: var(--secondary);
	max-width: 97%;
	max-height: 68vh;
	text-align: center;
	border-radius: 5px;
	margin: 1%;
	object-fit: cover;
	place-self: center;

	box-shadow: var(--shadow-button);
	transition: 0.4s;
}

[class ^= "modal-image"] img:hover
{
	transform: scale(1.02);
	cursor: pointer;
}

#commission-modal p
{
	position: relative;
	left: 25%;
	text-align: center;
	grid-column: span 2;
	font-size: 2rem;

	background-color: var(--secondary);
	box-shadow: var(--shadow-button);
	border-radius: 5px;

	border: 1px solid rgba(255, 255, 255, 0.15);
}

.close
{
	grid-column-start: 3;
	/*border: 2px solid red;*/
	margin: 0;
	padding: 0;
}

#tier-level
{
	color: rgba(52, 211, 2, 0.8);
}

.form-wrapper
{
	display: flex;
	justify-content: center;
	margin: 10px;
	height: 120%;

	/*border: 2px solid white;*/
}

form
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2%;
	width: 40%;
	min-height: 70vh;
	/* border: 2px solid red; */

	text-align: center;
	margin: auto;
	margin-bottom: 3%;
	padding: 10px;

	/* overflow: auto; */
	scrollbar-width: none;
	-ms-overflow-style: none;
}

form::webkot-scrollbar
{
	display: none;
}

form >*
{
	align-self: center;
}

form input[type = text]
{
	height: 50%;
	border: none;
	background: transparent;
	border-bottom: 2px solid var(--accent);
	color: var(--text-major);

}

form h3
{
	grid-column: span 2;
}

input
{
	color: rgba(0, 0, 0, 0.8);
}

input:active
{
	border: none;
}

.radios
{
	position: relative;
	left: -3%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;

	justify-self: center;
}

.radios >*
{
	align-self: center;
	justify-self: center;
}

.radios input[type = radio]
{
	position: relative;
	left: 60%;
	width: 15px;
}

label
{
	/*border-bottom: 2px solid var(--accent);*/
}

.Definition_header, .Alt_header
{
	/*grid-row: span 2;*/
}

#Description
{
	padding: 5px;
	color: rgba(255, 255, 255, 0.75);
	font-family: Poppins, sans-serif;
	background-color: rgba(0, 0, 0, 0.1);
}

#Description::placeholder
{
	color: rgba(216, 216, 216, 1);
	font-family: Poppins, sans-serif;
}

input[type = file]
{
	color: rgba(255, 255, 255, 0.75);
}

input[type = reset], button
{
	color: rgba(255, 255, 255, 0.75);
	border: none;
	background-color: rgba(77, 77, 77, 1);
	font-size: 22px;
	border-radius: 50px;
	height: 110%;

	justify-self: center;
}

input[type = reset]
{
	min-width: 50%;
}

button
{
	background-color: var(--accent);
	min-width: 30%;
}

.hidden
{
	display: none;
}

#uploadTrigger
{
	display: flex;
	background-color: rgba(0, 120, 255, 0.4);
	border-radius: 50px;
	width: 60%;
	height: 50%;

	justify-content: center;
	align-items:  center;
	justify-self:  center;
	/* border:  2px solid red; */
}

#output
{
	grid-column: span 2;
	width: 50%;
	border: none;

	justify-self: center;
}

input[type = reset], button, .button
{
	box-shadow: var(--shadow-button);
	cursor: pointer;
	z-index: 5;
	transition: 0.3s;
}

input[type = reset]:hover, button:hover, .button:hover
{
	box-shadow: var(--button-shadow-hover);
	transform: scale(1.03);
}

@media screen and (max-width: 768px)
{
	#card-wrapper
	{
		grid-template-columns: repeat(2, 1fr);
		padding: 2vw;
	}

	.card
	{
		width: 35vw;
		height: 40vh;
	}

	.extra, .rules
	{
		grid-column: span 1;
	}

	.rules
	{
		/* max-height: 60vh; */
	}
}

@media screen and (max-width: 767px)
{
	#card-wrapper
	{
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.card
	{
		width: 100%;
		margin: auto;
		margin-bottom: 3vh;
	}

	form
	{
		display: none;
	}

	.disclaimer
	{
		width: 75vw;
	}

	.card:nth-child(1)
	{
		height: 70vh;
	}

	.card:nth-child(2), .card:nth-child(2):hover, .card:nth-child(2):active
	{
		height: 80vh;
	}

	.card:nth-child(3), .card:nth-child(3):hover, .card:nth-child(3):active
	{
		height: 85vh;
	}

	.card:nth-child(4), .card:nth-child(4):hover, .card:nth-child(4):active
	{
		height: 85vh;
	}

	.examples
	{
		top: 9%;

		margin-bottom: 10%;
	}
	
	.price p
	{
		bottom: -30%;
	}
}
