@font-face
{
	font-family: 'OpenSans';
	src: url('./fonts/OpenSans/OpenSans-Regular.ttf');
}

*
{
	color: rgba(255, 255, 255, 0.87);
}

html
{
	font-family: Roboto, OpenSans, Arial, Serif;
	font-size: 20px;
}

header
{
	
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	max-width: 100%;
	height: 20%;
	padding: 10px;
	
	border-radius: 3px;
	
	/* border: 5px solid yellow */
	
	/* background-color: rgba(255, 255, 255, 0.05); */
	/* box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 1); */
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
}

nav
{
	font-size: 35px;

	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	
	margin-right: 5px;
	padding: 5px;
	padding-left: 25px;
	border-radius: 3px;
	
	box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 1);
	
	min-height: 35%;
	
	border-collapse: collapse;
	
	background-color: rgba(255, 255, 255, 0.02);
}

td a
{
	padding: 20px;
	border-radius: 3px;
	
	transition: 0.25s;
}

header a, header a:visited
{
	text-decoration: none;
}

header a:hover
{
	border-bottom: 7px solid #e302fc;
	background-color: rgba(255, 255, 255, 0.05);
	box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 1);
	position: relative;
	top: 2px;
	padding-bottom: 14px;
	padding-top: 17px;
	
	transform: scale(1.05);
}

nav:nth-child(1)
{
	flex: 1;
}

header img
{
	max-width: 30vh;
	/* background-color: red; */
	
	box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 1);
	
	margin: 5px;
	border-radius: 50%;
	
	transition: 0.2s;
}

body
{
	justify-content: center;
	
	background-color: rgba(18,18,18,1);
	
	display: flex;
	flex-direction: column
}

table
{
	border-collapse: collapse;
}

td
{
	transition: 0.2s;
}

tr:first-child
{
	align-items: center;
	font-size: 45px;
}

td:active
{
	transform: scale(0.98);
}

tr
{
	/* border: 1px solid black; */
	display: inline;
}

footer
{
	font-size: 15px;
	text-align: right;
	padding: 10px;
	
	background-color: rgba(255, 255, 255, 0.05);
	box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 1);
}

footer p
{
	color: rgba(255, 255, 255, 0.38);
}

.outside p
{
	font-size: 30px;
	border-left: 7px solid #e302fc;
	background-color: rgba(255, 255, 255, 0.05);
}

.outside
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(6, 350px);
	grid-auto-flow: dense;
	
	text-align: center;
	margin: 50px;
	/* margin-top: 25%; */
}

.outside img
{
	height: 90%;
	width: 90%;
	object-fit: cover;
	place-self: center;
	
	cursor: pointer;
	
	margin: 10px;
	border-radius: 3px;
	
	box-shadow: 6px 6px 20px 4px rgba(0,0,0,0.2);
	
	transition: 0.2s;
}

.outside img:hover
{
	transform : scale(1.03);
	box-shadow: 6px 6px 25px 4px rgba(0,0,0,0.18);
}

.outside .cell:nth-child(1)
{
	grid-column: span 3;
	grid-row: span 2;
	justify-content: flex-start;
	
}

.outside .cell:nth-child(3n)
{
	grid-column: span 2;
}

.outside .cell:nth-child(1) img
{
	margin-top: 20px;
	height: 85%;
	width: 85%;
	
	border: 3px solid #D600DD;
	
	animation-duration: 8s;
	animation-name: "colorWave";
	animation-iteration-count: infinite;
}

@keyframes colorWave
{	
	0%
	{
		border-color: rgba(214, 0, 221, 1);
	}
	
	50%
	{
		border-color: rgba(214, 0, 221, 0);
	}
	
	100%
	{
		border-color: rgba(214, 0, 221, 1);
	}
}

.cell p
{
	width: 85%;
	padding: 5px;
	margin: auto;
	
	border-radius: 3px;
}


/* MODAL */

.blur
{
	display:none;
	
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.modal
{
	margin: auto;
	border-radius: 5px;
	
	width: 80%;
	height: 80%;
	z-index: 1;
	position: absolute;
	top: 10%;
	left: 10%;
	
	background-color: #252525;
	
	display: grid;
	grid-template-columns: 70%, 30%;
	grid-template-rows: 1fr;
	
	padding-right: 20px;
	padding-bottom: 20px;
	
	box-shadow: 2px 3px 23px -4px rgba(0,0,0,1);
	
	animation-name: closeup;
	animation-duration: 0.7s;
}

@keyframes closeup
{
	from {
		top: -100vh;
		/* opacity: 0.9; */
	}
	
	to {
		top: 10%;
		/* opacity: 1; */
	}
}

@media only screen and (max-width: 1200px)
{
	.modal
	{
		grid-template-columns: 50%;
		
		/* grid-template-rows:  */
	}
	
	nav
	{
		max-width: 50%;
	}
	
	td
	{
		width: 50%;
		font-size: 30px;
	}
	
	header img
	{
		width: 50%;
		/* border-radius: 0%; */
	}
	
	.modal img
	{
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column: span 1;
	}
}

.modal >*
{
	/* border: 1px solid white; */
	border-radius: 2px;
	margin: 3px;
}

.modal h2
{
	text-align: center;
}

#modal-img
{
	max-width: 97%;
	max-height: 97%;
	
	margin: auto;
	
	border-radius: 10px;
	
	grid-row-start: 2;
	grid-row-end: 17;
}

.close
{
	text-align: right;
	font-size: 40px;
	max-width: 100%;
	max-height: 25%;
	
	text-decoration: bold;
	
	grid-column: span 2;
	
	border-radius: 5px;
	
	padding-bottom: 5px;
	
}

.X
{
	color: rgba(255, 255, 255, 0.8);
	transition: 0.2s;
}

.X:hover
{
	color:red;
	cursor: pointer;
}

.modal strong
{
	text-decoration: bold;
	color: #D600DD;
}

.info, .author
{
	color: rgba(255, 255, 255, 0.38);
}

.artist
{
	color: rgba(255, 255, 255, 0.8);
	padding-left: 5px;
}

.model
{
	grid-row-start: 8;
}

#modelLine1
{
	display:block;
	grid-row-start: 9;
}

#modelLine2
{
	display:block;
	grid-row-start: 10;
}

#modelLine3
{
	display:block;
	grid-row-start: 11;
}

#twitterPost
{
	display: flex;
}

#redditPost
{
	display: flex;
}

.originalPost
{
	grid-row-start: 13;
}

.button, .twitter, .reddit
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 80%;
	padding: 7px;
	
	box-shadow: 7px 4px 17px -7px rgba(0,0,0,0.64);
	
	text-decoration: none;
	
	transition: 0.2s;
}

.button
{
	margin: 20px;
	background-color: #A600BC;
	
	grid-row-start: 16;
}

.button:hover, .twitter:hover, .reddit:hover
{
	transform: scale(1.02);
	
	box-shadow: 11px 5px 21px -7px rgba(0,0,0,0.4);
}

.button:active, .twitter:active, .reddit:active, .fa:active
{
	transform: scale(0.98);
	
	box-shadow: 9px 4px 11px -7px rgba(0,0,0,0.71);
}

.fa
{
	padding: 10px;
	margin-right: 5px;
	font-size: 50px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin-left: 25px;
	
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 50%;
	box-shadow: 7px 4px 17px -7px rgba(0,0,0,0.64);
	
	transition: 0.2s;
}

.fa:hover
{
	transform: scale(1.1);
	border-color: rgba(255, 255, 255, 1);
	box-shadow: 11px 5px 21px -7px rgba(0,0,0,0.4);
}

.fa-reddit
{
	background: #FF7933;
	color: white;
}

.fa-twitter
{
	background: rgba(85, 172, 238, 0.85);
	color: white;
	margin-left: 25px;
}

.fa-female
{
	background: #A600BC;
}

.fa-deviantart
{
	background: rgba(0, 229, 155, 0.85);
	color: white;
	margin-left: 25px;
}

.twitter
{
	background-color: rgba(85, 172, 238, 0.8);
	grid-row-start: 14;
}

.reddit
{
	background-color: rgba(255, 121, 51, 0.8);
	grid-row-start: 15;
}

.twitter, .reddit
{
	margin-left: 20px;
}
