/* Galerie */

.outside
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: repeat(5, 350px);
	grid-auto-flow: dense;
	
	text-align: center;
	margin: 50px;
	margin-top: 5%;
}

.outside img
{
	height: 90%;
	width: 90%;
	object-fit: cover;
	place-self: center;
	
	cursor: pointer;
	
	margin: 10px;
	border-radius: 3px;
	
	box-shadow: 6px 6px 20px 4px rgba(0,0,0,0.2);
	
	transition: 0.2s;
}

.outside img:hover
{
	transform : scale(1.03);
	box-shadow: 6px 6px 25px 4px rgba(0,0,0,0.18);
}

.outside .cell:nth-child(1)
{
	grid-column: span 3;
	grid-row: span 2;
	justify-content: flex-start;
	
}

.outside .cell:nth-child(1) img
{
	position: relative;
	margin-top: 20px;
	height: 90%;
	width: 90%;
}

.outside .cell:nth-child(3n)
{
	grid-column: span 2;
}

@keyframes hue
{
	0%
	{
		filter: hue-rotate(0deg);
	}
	
	50%
	{
		filter: hue-rotate(180deg);
	}
	
	100%
	{
		filter: hue-rotate(360deg);
	}
}

.outside p:nth-child(1)
{
	position: absolute;
	width: 41%;
	font-size: 30px;

	padding: 5px;
	margin: auto;
	top: 32%;
	left: 6%;

	border-radius: 3px;
	border-left: 7px solid var(--accent);
	background-color: var(--secondary);
}

.filters
{
	display: flex;

	position: absolute;
	top: 25%;
	/* width: 45%; */
	flex-wrap: wrap;
}

.filters label
{
	list-style: none;
	background: var(--primary);
	padding: 8px 20px;
	margin: 3px;
	letter-spacing: 1px;
	cursor: pointer;

	border-radius: 5px;
	transition: 0.3s;
}

.filters label
{
	padding-left: 0;
}

.filters input
{
	opacity: 0;
}

.filters label.active
{
	background: var(--accent);
}

.filters span
{
	font-size: 18px;
	display: none;
}

.alt-button-wrapper
{
	display: flex;
}

.alt-button input
{
  position: absolute;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.alt-button
{
	background: var(--secondary);
	text-align: center;
	font-size: 23px;

	width: 13%;
	margin: 5px;
	border-radius: 15%;
	cursor: pointer;
}

.alt-button:nth-child(1)
{
	text-decoration: bold;
}

.alt-button:nth-child(5)
{
	padding-right: 10px;
}

.alt-button:hover
{
	transform: scale(1.05);
}

/* .alt-radio
{
	position: absolute;
  	height: 25px;
  	width: 11%;
  	margin: 5px;
  	background-color: #eee;
} */

.alt-button:checked ~ .alt-radio
{
	background-color: #2196F3;
}


/* --- MODAL --- */

.modal
{
	margin: auto;
	border-radius: 5px;
	
	width: 86vw;
	height: 86vh;
	z-index: 1;
	position: absolute;
	top: 7%;
	left: 7%;
	
	background-color: var(--modal-color);
	
	display: grid;
	grid-template-columns: 5%, 70%, 20%, 5%;
	grid-template-rows: 1fr;
	
	padding-right: 20px;
	padding-bottom: 20px;
	
	box-shadow: 2px 3px 23px -4px rgba(0,0,0,1);
	
	animation-name: closeup;
	animation-duration: 0.6s;
	
	overflow: hidden;
}

.modal >*
{
	border-radius: 2px;
	margin: 3px;
}

.modal h2
{
	text-align: center;
}

#modal-img
{
	max-width: 95%;
	max-height: 95%;
	
	margin: auto;
	
	border-radius: 10px;
	
	grid-row-start: 2;
	grid-row-end: 19;
}

.modal strong a
{
	text-decoration: none;
	text-decoration: bold;
	color: #D600DD;
}

.info, .author
{
	color: var(--text-minor);
}

.close
{	
	grid-column: span 4;
	height: 0;
	margin-bottom: 3%;
}

.model
{
	grid-row-start: 6;
}

#modelLine1, #modelLine2, #modelLine3
{
	display:block;
}

#modelLine1
{
	grid-row-start: 7;
}

#modelLine2
{
	grid-row-start: 8;
}

#modelLine3
{
	grid-row-start: 9;
}

.alt-button-wrapper-wrapper
{
	grid-row-start: 10;
}

#twitterPost
{
	display: flex;
}

#redditPost
{
	display: flex;
}

.originalPost
{
	grid-row-start: 11;
	padding-top: 5%;
}

#full, .twitter, .reddit
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 80%;
	padding: 7px;
	
	box-shadow: var(--shadow-button);
	
	text-decoration: none;
	
	transition: 0.2s;
}

.button
{
	display: flex;
	margin: 20px;
	grid-row-start: 14;
	box-shadow: none;
}

#full
{
	background-color: var(--accent);
	border-radius: 2px;
}

#full:hover, .twitter:hover, .reddit:hover
{
	transform: scale(1.02);
	
	box-shadow: var(--button-shadow-hover);
}

#full:active, .twitter:active, .reddit:active, .fa:active
{
	transform: scale(0.98);
	
	box-shadow: 9px 4px 11px -7px rgba(0,0,0,0.71);
}

.modal .fa-deviantart
{
	background: rgba(0, 229, 155, 0.85);
	color: white;
	margin-left: 25px;
}

.modal .twitter
{
	background-color: rgba(85, 172, 238, 0.8);
	grid-row-start: 12;
}

.modal .reddit
{
	background-color: rgba(255, 121, 51, 0.8);
	grid-row-start: 13;
}

.modal .twitter,.modal .reddit
{
	margin-left: 20px;
}

.fa-download, .fa-vr-cardboard
{
	box-shadow: none;
	margin: 0;
	border-radius: 2px;
}

.fa-vr-cardboard
{
	font-size: 20px;
	cursor: pointer;
}

.fa-chevron-left, .fa-chevron-right
{
	grid-row-start: 2;
	grid-row-end: 19;
	
	box-shadow: transparent;
	border: none;
	opacity: 0.6;
	width: 0%;
	
	font-size: 60px;
	
	align-self: center;
	
	transition: 0.2s;
}

.fa-chevron-left:hover, .fa-chevron-right:hover
{
	cursor: pointer;
	transform: scale(1.03);
}

.fetish-form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	text-align: center;

	width: 60vw;
	height: 50vh;
	align-self: center;

	background: var(--primary);
	border-radius: 5px;

	padding: 2vw;
	padding-top: 0;

}

.fetish-form >*:first-child
{
	font-size: 1.4rem;	
}

.fetish-form a
{
	display: flex;
	justify-content: center;
	font-size: 1.4rem;
	text-decoration: none;
	border-radius: 5px;
	background: var(--accent);
	box-shadow: var(--shadow-button);

	width: 20vw;

	padding: 1vw;
	margin-top: 1.5vh;
	animation: bobble;
	animation-duration: 5s;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease;
}

.fetish-form a:hover
{
	transform: scale(1.02);
	box-shadow: var(--button-shadow-hover);
}
@keyframes bobble
{
	0%
	{
		transform: scale(1);
	}
	
	50%
	{
		transform: scale(1.07);
	}
	
	100%
	{
		transform: scale(1);
	}
}

@media screen and (max-width: 768px)
{
	.filters
	{
		width: 70%;
		top: 7%;
	}

	.outside
	{
		margin: 0;
		margin-top: 20%;
		grid-template-rows: repeat(5, 25vh);
	}

	.outside .cell:nth-child(1)
	{
		grid-column: span 2;
		grid-row: span 2;
	}

	.modal
	{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(auto-fill, 1fr);
		text-align: center;
	}

	#modal-img
	{
		grid-row-start: 2;
		grid-row-end: 3;
	}

	#title
	{
		height: 30%;
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column: span 3;
	}

	.info, .author, .model, .close
	{
		display: none;
	}

	#modelLine1, #modelLine2, #modelLine3
	{
		height: 0;
		width: 0;
		opacity: 0;
	}

	.alt-button-wrapper, .originalPost, .twitter, .reddit
	{
		justify-content: center;
	}

}

@media screen and (max-width: 767px)
{
	.filters
	{
		display: none;
	}

	.outside
	{
		margin-top: -20%;
	}

	.outside .cell:nth-child(3n)
	{
		grid-column: span 1;
	}

	.modal
	{
		overflow: auto;
	}

	#modal-img
	{
		grid-column: span 3;
		width: 100%;
		height: 100%;
	}

	.fas .fa-chevron-left
	{
		display: none;
	}

	.close, .originalPost, .button
	{
		display: none;
	}

	.twitter, .reddit
	{
		height: 0;
		width: 0;
		opacity: 0;
	}

	.fetish-form
	{
		font-size: 1rem;
		width: 80vw;
		height: 50vh;

		padding-bottom: 3vh;
	}

	.fetish-form a
	{
		font-size: 1rem;
		width: 60vw;
	}
}

model-viewer
{
	width: 80vw;
	height: 80vh;
	align-self: center;
}