.twitter, .discord, .fiverr, .poizen
{
	/*transition: 0.2s;*/
	color: rgba(255, 255, 255, 0.8);
}

.poizen
{
	background-color: rgba(156, 45, 224, 1);
}

.disclaimer, .sheet
{
	display: block;
	width: 52%;
	align-self: center;
	font-size: 24px;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	
	
	background: var(--secondary);
	border-radius: 3px;
	box-shadow: var(--nav-shadow);
}

.disclaimer .warning
{
	color: rgba(255, 0, 0, 0.85);
	font-size: 30px;
}

.sheet
{
	display: flex;
	width: 80%;

	flex-direction: column;
	align-items: center;
}

.sheet p
{
	margin: auto;
	text-align: center;
}

.sheet a
{

	height: 8vh;
	width: 30vw;

	margin-top: 25px;
	text-decoration: none;
}

.sheet img
{
	position: relative;
	left: -150px;
	top: -20px;

	height: 70px;
	width: 100px;

	opacity: 0.8;
}


/* --- UI Cards --- */

#card-wrapper
{
	display: flex;
	margin-bottom: 20px;
}

.card
{
	display: block;
	width: 18vw;
	height: 45vh;
	background: var(--secondary);
	/*background: none;*/

	border-radius: 5px;
	padding: 5px;
	padding-bottom: 10px;
	overflow: hidden;

	box-shadow: var(--shadow-button);

	margin: 10px;

	transition: 0.4s;
}

.card:hover
{
	height: 65vh;
	transform: scale(1.05);
	cursor: pointer;

	box-shadow: var(--button-shadow-hover);
}

.card:nth-child(2):hover
{
	height: 72vh;
}

.card:nth-child(3):hover 
{
	height: 77vh;
}

.card:nth-child(4):hover
{
	height: 80vh;
}

.card:hover .examples
{
	top: 0;
}

.card:hover .price p
{
	bottom: 0;
}

.card:hover .tier p
{
	font-size: 2rem;
}

.tier p
{
	font-size: 3rem;
	font-family: Poppins;

	color: rgba(52, 211, 2, 0.8);

	transition: 0.4s;
}

.description
{
	font-size: 1rem;
}

.examples
{
	position: relative;
	top: 25%;
	font-family: Poppins;
	font-size: 1rem;

	transition: 0.4s;
}

.price p
{
	font-size: 3rem;
	position: relative;

	bottom: -100px;

	transition: 0.6s;
}

.examples ul
{
	list-style-type: none;
}
